<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel='stylesheet' href='@Url.Content("~/Content/screen.css")' type='text/css' media="screen, projection"/>
    <link rel='stylesheet' href='@Url.Content("~/Content/print.css")' type='text/css' media="print"/>
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="@Url.Content("~/Content/ie.css")" type="text/css" media="screen, projection"/>
    <![endif]-->
    <link rel='stylesheet' href='@Url.Content("~/Content/app.css")' type='text/css' media="screen, projection"/>    
    <link rel='stylesheet' href='@Url.Content("~/Content/fancy.css")' type='text/css' media="screen, projection"/>
    <link rel='stylesheet' href='@Url.Content("~/Content/prettify.css")' type='text/css' media="screen, projection"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/default.css")" type='text/css' media="screen, projection"/>

    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/prettify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highlight.pack.js")" type="text/javascript"></script>
</head>

<body>
    <div class="container">
	<div id="header" onclick="location.href='/';"
		style="cursor: pointer;">
    </div>
    <hr> 
    <h2>
        <a href="/" class="blog_name">
        <span id="blog_name">
            Synergistic Studio
        </span>
        </a>
    </h2>
             
    <hr> 
    <h2 class="alt">Learning, building and sharing .Net and iOS technologies.</h2> 
    <hr>

	<div class="header">
		<div class="span-24 last">
			<ul class="tabs">
					<li id="page-blog" class="active">
						<a href="/">Blog</a>
					</li>
					<li id="page-project" >
						<a href="/Home/Index/Projects">Projects</a>
					</li>
					<li id="page-about" >
						<a href="/Home/Index/About">About</a>
					</li>
				</ul>
		</div>
	</div>

	<div>
		<div class="span-24 last">
			<div class="blog_post">
                @RenderBody()                
            </div>
		</div>
	</div>

    <div class="gap">
    </div>

    <div class="span-24 last">
        <div class="footer">        						
		    <div>Powered by <a href="https://github.com/pragmaticlogic/SynergisticBlog">SynergisticBlog</a> - Copyright 2012 Kevin Le</div>	
	    </div>
    </div>
</div>
    
</body>
</html>
