@model IEnumerable<SynergisticBlog.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu {
<ul class="tabs">
    @if (ViewData["Page"].Equals("Blog")) 
    {
		@:<li id="page-blog" class="active">                    
    } else {
        @:<li id="page-blog">
    }
		@Html.ActionLink("Blog", "Index", new { page = "Blog" })        
	</li>
    @if (ViewData["Page"].Equals("Projects")) 
    {
		@:<li id="page-project" class="active">                    
    } else {
        @:<li id="page-project">
    }				
        <!--@Html.ActionLink("Projects", "Index", new { page = "Projects" })-->
        @Html.RouteLink("Projects", "Default", new { page = "Projects" }, null)
	</li>
    @if (ViewData["Page"].Equals("About"))
    {
		@:<li id="page-about" class="active">
    } else {
        @:<li id="page-about">
    }
		@Html.ActionLink("About", "Index", new { page = "About" })
        <!--new RouteValueDictionary(new { controller = "Home", action = "Index", page = "About" }))-->
	</li>
</ul>
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="new_post">	    
        <!--@Html.ActionLink("New Post", "Index", "Admin", new {  page = @ViewData["Page"], update = false, id = string.Empty}, null)-->
        <!--@Html.RouteLink("New Post", "Write", new {  page = @ViewData["Page"], update = false, id = string.Empty}, null)-->
        @Html.RouteLink("New Post", "Write", new {  page = @ViewData["Page"], update = false}, null)
    </div>
}

@foreach (var item in Model) {
    <p id = "@item.Id">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
        <li style="display: inline; list-style-type: none; margin-right:10px;">            
            @Html.ActionLink("Edit", "Index", "Admin", new {  page = @ViewData["Page"], update = true, id = item.Id}, null)
        </li>
        <li id_2="@item.Id" style="display: inline; list-style-type: none; margin-right:10px;">            
            <a post_id="@item.Id" class="post_delete" style="cursor:pointer;">Delete</a>
        </li>
        <li id_3="@item.Id" style="display: none; list-style-type: none; margin-right:10px;">            
            <a post_id="@item.Id" class="post_delete_yes" style="cursor:pointer;">Yes, delete</a>
        </li>
        <li id_4="@item.Id" style="display: none; list-style-type: none; margin-right:10px;">            
            <a post_id="@item.Id" class="post_delete_no" style="cursor:pointer;">No, keep</a>
        </li>                        
        }
        <li style="display: inline; list-style-type: none; margin-right:10px;">
        @item.TimeCreated.ToShortDateString()
        </li>                    
        <li style="display: inline; list-style-type: none; margin-right:10px;">            
            @Html.RouteLink(@item.Title, "Post", new { controller = "Post", action = "Index", id = item.Id, page = item.Page }, null)
        </li>        
    </p>
}

<script>
    $('.post_delete').click(function () {        
        $('li[id_2="' + $(this).attr("post_id") + '"]').css({ 'display': 'none' });
        $('li[id_3="' + $(this).attr("post_id") + '"]').css({ 'display': 'inline' });
        $('li[id_4="' + $(this).attr("post_id") + '"]').css({ 'display': 'inline' });
    });

    $('.post_delete_no').click(function () {        
        $('li[id_2="' + $(this).attr("post_id") + '"]').css({ 'display': 'inline' });
        $('li[id_3="' + $(this).attr("post_id") + '"]').css({ 'display': 'none' });
        $('li[id_4="' + $(this).attr("post_id") + '"]').css({ 'display': 'none' });
    });

    $('.post_delete_yes').click(function () {
        var post_id = $(this).attr("post_id");
        $('p.' + post_id).remove();
    });
</script>







